@model Regitration.ViewModels.Step3ViewModel

@{
    Model.Initialize();
    var selectList = new SelectList(Model.Countries, "Id", "Name");
}

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(x => x.CountryId, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.DropDownListFor(x => x.CountryId, selectList, htmlAttributes: new { @class = "edit-area" })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.CountryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.OfficeName, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.EditorFor(x => x.OfficeName, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.OfficeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Address, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.PostalCode, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.EditorFor(x => x.PostalCode, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.PostalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.City, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.EditorFor(x => x.City, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.State, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-6" })
            <div class="col-md-7 col-sm-8 col-xs-11">
                @Html.EditorFor(x => x.State, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="info-container">
            <div>
                Instructions:
                <span class="image-info-red"></span>
            </div>
            <div class="label-reg">
                Enter company name and primary mailing address. City and State will be filled in automatically once you enter Postal Code.
            </div>
        </div>
    </div>
</div>
