@model Regitration.ViewModels.Step4ViewModel

<div class="form-horizontal">
    <div class="col-sm-7">
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
            <div class="col-md-7 col-sm-8 col-xs-10">
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4 col-sm-3 col-xs-12" })
            <div class="col-md-7 col-sm-8 col-xs-10">
                @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "edit-area" } })
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-sm-3 col-xs-1 text-right">
                @Html.CheckBoxFor(x => x.TermsIsAccepted)
            </div>
            <div class="col-md-7 col-sm-8 col-xs-9">
                @Html.DisplayNameFor(x => x.TermsIsAccepted)
            </div>
            <div class="col-xs-1 side-paddings-0">
                @Html.ValidationMessageFor(x => x.TermsIsAccepted)
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="info-container">
            <div>
                <p>
                    Instructions:
                    <span class="image-info-red"></span>
                </p>
            </div>
            <div class="label-reg">
                <p style="color: #8f8f8f">
                    Password must be at least 8 characters in length and include both upper and lower case letters as well as at least one number.
                </p>
                <p>
                    Review the CoralMSP Terms of Use and Privacy Policy and indicate that you have read and accepted these terms.
                </p>
            </div>
        </div>
    </div>
</div>